.go-down {

    background-color: var(--main-background-color);
    height: 8vh;
    
    display: flex;
    justify-content: center;
    
    svg {
        height: 6vh;
        width: 6vh;

        cursor: pointer;
        
        path {
            fill: rgb(170, 170, 170);
            // CREDITS TO https://stackoverflow.com/a/49627345
        }
    }
}

.go-down-separator-line {

    width: 100%;

    display: flex;
    justify-content: center;
    
    hr {
        height: 1px;
        width: 75%;

        border: none;
        border-top: 1px solid rgb(184, 184, 184);
    }
}