.clockify-tasks-display-container {
  width: 20vw;
  position: absolute;
  top: 60vh;
  left: 2.5vw;
}
.clockify-tasks-display-container .clockify-task-form input::-moz-placeholder {
  font-family: "Arial", sans-serif;
}
.clockify-tasks-display-container .clockify-task-form input:-ms-input-placeholder {
  font-family: "Arial", sans-serif;
}
.clockify-tasks-display-container .clockify-task-form select, .clockify-tasks-display-container .clockify-task-form select option, .clockify-tasks-display-container .clockify-task-form input, .clockify-tasks-display-container .clockify-task-form input::placeholder {
  font-family: "Arial", sans-serif;
}
.clockify-tasks-display-container .clockify-task-form.loading-container {
  width: 20vw;
  height: auto;
  background: none;
}
.clockify-tasks-display-container .clockify-task-form .workspace-selector, .clockify-tasks-display-container .clockify-task-form .project-selector {
  width: 15vw;
  height: 5vh;
}
.clockify-tasks-display-container .clockify-task-form .workspace-selector optgroup, .clockify-tasks-display-container .clockify-task-form .project-selector optgroup {
  color: grey;
  font-style: inherit;
  font-weight: 300;
  text-shadow: none;
}
.clockify-tasks-display-container .clockify-task-form .add-task {
  width: 3.5vh;
  height: 3.5vh;
  margin-left: 0.5vh;
  display: inline;
  background-color: var(--second-color);
  border-radius: 100%;
  color: #fff;
  cursor: pointer;
}
.clockify-tasks-display-container .clockify-task-form .add-task:hover {
  filter: brightness(90%);
}
.clockify-tasks-display-container .clockify-task-form .add-task:active {
  filter: brightness(110%);
}
.clockify-tasks-display-container .clockify-task-form select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clockify-tasks-display-container .clockify-task-form input[type=text] {
  width: 15vw;
  height: 3vw;
  font-size: 12pt;
  outline: none;
  padding: 1px 2px;
  box-sizing: border-box;
}
.clockify-tasks-display-container .clockify-task-form.disabled, .clockify-tasks-display-container .clockify-task-form .disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: initial;
  pointer-events: none;
  opacity: 0.3;
}

@media (max-width: 991.98px) {
  .clockify-tasks-display-container {
    position: static;
    width: 100%;
    padding-top: 2vh;
  }
  .clockify-tasks-display-container .clockify-task-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 3vw;
  }
  .clockify-tasks-display-container .clockify-task-form .workspace-selector, .clockify-tasks-display-container .clockify-task-form .project-selector, .clockify-tasks-display-container .clockify-task-form input[type=text] {
    width: 33vw;
    min-width: 120px;
    height: 5vw;
    min-height: 30px;
  }
  .clockify-tasks-display-container .clockify-task-form button.add-task {
    margin-right: auto;
  }
  .clockify-tasks-display-container .clockify-task-form button.adding-new-task {
    margin-right: 0;
  }
  .clockify-tasks-display-container .clockify-task-form input.new-task {
    width: 10vw;
    margin-right: auto;
    margin-left: 1vw;
  }
}
@media (max-width: 576px) {
  .clockify-tasks-display {
    position: initial;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clockify-tasks-display.loading-container {
    width: 90%;
    height: auto;
  }
  .clockify-tasks-display .workspace-selector, .clockify-tasks-display .project-selector, .clockify-tasks-display input[type=text] {
    width: 70%;
    height: 4vh;
    margin-top: 1vh;
  }
}/*# sourceMappingURL=clockify-task-form.css.map */