#about-this, #credits {
    height: 83vh;

    padding: 0px 3vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .titles {
        
        display: flex;

        h3 {
            width: 50%;

            @include titleFont;
            @include normalizeTitle;

            font-size: 22pt;

            .line-through {
                text-decoration: line-through;
                text-decoration-thickness: 3px; 
            }
        }
    }

    .information {

        display: flex;

        ul {
            width: 50%;

            li {

                margin-top: 3vh;

                h4 {
                    @include normalizeTitle;
                    @include bodyFont;
                    font-size: 18pt;
                }

                p {
                    @include normalizeBody;
                    @include bodyFont;
                    font-size: 13pt;
                    margin-left: 2vw;
                    margin-top: 1vh;
                }
            }
        }
    }
}

#credits {
    height: 95vh;
}

@media (max-width: 918px) {
    #about-this, #credits {
        height: auto;

        padding-bottom: 5vh;
    }
}

#about-this.dark-mode-component, #credits.dark-mode-component {
    
    background-color: $second-color-dark;

    color: #ffffff;

    .information {

        display: flex;

        ul {
            
            li {

                p {

                    a {
                        color: $lightest-color-dark;
                    }
                }
            }
        }
    }
} 