html, body {
    height: 100%;
}

.account-container {

    height: 69vh; //xd

    #message {
        padding-left: 5vw;

        background-color: #ff6a6a;

        h1 {
            @include titleFont();
            @include normalizeTitle();

            color: #ffffff;
            padding: 2vh 0px;
        }
    }

    .successfully {
        background-color: #75b7ff !important;
        
        h1 {color: #3a3a3a !important;}
    }

    .next-step {

        .disabled {
            user-select: none;
            cursor: initial;
            pointer-events: none;
            opacity: 30%;
        }
        
        .next-step-title {
            padding-left: 5vw;
    
            padding-top: 5vh;
    
            background-color: $light-color;
    
            h1, h2 {
    
                @include normalizeTitle();
                @include titleFont();
    
                color: $second-color;

                padding-bottom: 3vh;
            }
        }

        form {
            width: 50vw;

            display: flex;
            flex-direction: column;
            align-items: center;

            padding-top: 1vh;

            
            input {
                height: 4vh;
                width: 60%;

                margin-bottom: 1vh;

                border: none;
                border-bottom: 1px solid $border-color;
                outline: none;

            }

            input[type=submit] {
                width: 50%;
                border: $border-color solid 1px;
            }
        }

        form .disabled {
            opacity: 0%;
        }

        .flex-container-change-api-container {
            padding-left: 5vw;

            .change-api-container {
                width: 50vw;
                background-color: $lightest-color;

                display: flex;
                flex-direction: column;

                padding-top: 1vh;

                border-radius: 2px;
                
                padding-left: 1vw;

                .api-preview-container {


                    .title {
                        @include normalizeTitle();
                        @include titleFont();
                    }

                    .api-preview {
                        font-weight: bold;
                    }
                }

                #change-API-button {
                    height: 4vh;
                    width:  20vw;

                    margin-bottom: 1vh;

                    border: none;
                    outline: none;

                    border: $border-color solid 1px;
                }
            }
        }
    }
}

.loading-container {
    width: 100%;
    height: 83vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

@media (max-width: 991.98px) {
    
    .account-container {

        .next-step {

            display: flex;


            .next-step-title {

                h1 {
                    font-size: 15pt;
                }

                h2 {
                    font-size: 12pt;
                }
            }

            .flex-container-change-api-container{
                .change-api-container {
                    width: auto;
                }
            }
        }
    }
}

.account-container.dark-mode-component {
    background-color: $second-color-dark;

    .next-step {

        .next-step-title {
            background-color: $lightest-color-dark;

            h1, h2 {
                color: #ffffff;

                a {
                    color: $lightest-color;
                }
                a:visited {
                    color: $light-color;
                }
            }

            
        }

        .flex-container-change-api-container {

            .change-api-container {

                background-color: $lightest-color-dark;
                
                .api-preview-container {

                    p {
                        color: rgb(255, 255, 255)
                    }
                }
            }
        }
    }
}

.loading-container.dark-mode-component {
    background-color: $second-color-dark
}