.dark-mode {

    position: absolute;
    left: calc(100% - 5vw);
    
    #dark-mode_toogle-switch {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    
    label {
        display: block;
        width: 4vw;
        height: 4vh;
        background-color: $lightest-color;
        border-radius: 100px;
        position: relative;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0 0 20px #477a8550;
    }

    label::after {
        content: "";
        width: 3.5vh;
        height: 3.5vh;
        background-color: #b632eb;
        position: absolute;
        border-radius: 100%;
        top: 0.25vh;
        left: 0.25vh;
        transition: 0.5s;
    }

    input:checked + label:after {
        left: calc(100% - 0.25vh);
        transform: translateX(-100%);

        background-color: $lightest-color;
    }

    input:checked + label{
        background-color: #b632eb;
    }
}
