.go-down {
    height: 7vh;
    width: 100%;
    
    display: flex;
    justify-content: center;

    cursor: pointer;
    
    svg {
        height: 6vh;
        path {
            fill: rgb(170, 170, 170);
            // CREDITS TO https://stackoverflow.com/a/49627345
        }
    }
}