.history-button {
    @include normalizeButton;

    height: 9vh;
    width: 9vh;

    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 6vh;

    border-radius: 100%;

    background-color: $light-color;

    svg {
        @include svgStyle;

        path {
            fill: rgba(80, 80, 80, 0.556);
        }

        width: 6vh;
        height: 6vh;
        
    }

    &:hover {
        animation: spin 0.4s ease-in-out;

}

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }


        100% {
            transform: rotate(360deg);
        }
    }

    
}