.made-with-love a {
    color: #ff8787
  }
  
  .made-with-love {
    color:rgb(185, 185, 185);
    margin-top: auto;
    width: 100%;
    padding-bottom: 3vw;
    padding-left: 3vw;

    box-sizing: border-box;
  }