

@mixin titleFont {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

@mixin bodyFont {
    font-family: 'Rambla', sans-serif;
}

@mixin normalizeTitle {
    margin: 0;
    padding: 0;
    user-select: none;
}

@mixin normalizeBody {
    margin: 0;
    padding: 0;
}

@mixin normalizeButton {
    background: none;
    border: none;
    width: 8vw;
}

@mixin svgStyle {
    cursor: pointer;
        
    path {
        fill: rgb(170, 170, 170);
        // CREDITS TO https://stackoverflow.com/a/49627345
    }
}

$background-color: #ffffff;

$main-color: #62D2A2;
$second-color: #1FAB89;
$light-color: #9DF3C4;
$lightest-color: #D7FBE8;

@import 'header';
@import 'banner-login';
@import 'mainPomodoro';
@import 'styleSelector';
@import 'goDownArrow';
@import 'aboutThis';
@import 'historyButton';
@import 'pomodoro-counter';

html, body { 
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: $background-color;
}