.header-main-page {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 24vh;
  box-sizing: border-box;
}
.header-main-page .title-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  font-size: 3.3em;
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-main-page .title-link a {
  color: #ffffff;
  font-family: var(--title-font);
  text-decoration: none;
  cursor: pointer;
}
.header-main-page .konami-code {
  color: #4c8ad5;
}
.header-main-page .buttons-container {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}
.header-main-page .buttons-container a, .header-main-page .buttons-container label {
  margin-right: 1vw;
}
.header-main-page .buttons-container a {
  text-decoration: none;
}
.header-main-page .buttons-container .go-to-account {
  width: 3vw;
  height: 3vw;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.header-main-page .buttons-container .go-to-account .go-to-account-text {
  font-size: 1vw;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
}
.header-main-page .buttons-container .close-session {
  width: 7vw;
  height: 3vw;
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}
.header-main-page .buttons-container .close-session .close-session-text {
  font-size: 1vw;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #ffffff;
}

@media (max-width: 991.98px) {
  .go-to-account, .close-session {
    position: initial;
    padding: 1vw;
  }

  .go-to-account {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .go-to-account .go-to-account-text {
    font-size: 9pt;
  }

  .close-session .close-session-text {
    font-size: 9pt;
  }
}
@media (max-width: 576px) {
  .go-to-account, .close-session {
    width: auto;
    height: auto;
  }

  .go-to-account-text, .close-session-text {
    position: initial;
    margin: 10px 10px;
  }
}
.notification-select {
  width: 100%;
  height: 3vh;
  background-color: var(--second-color);
  display: flex;
  align-items: flex-end;
  padding-left: 1vw;
  margin-top: auto;
  box-sizing: border-box;
}
.notification-select p {
  display: inline-block;
  align-self: center;
  color: #fff;
  padding: 0;
  margin: 0;
  margin-right: 1vw;
}
.notification-select button {
  height: 80%;
  width: 5%;
  margin-right: 0.5vw;
  border: none;
  border-radius: 2px;
  align-self: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.notification-select button.yes {
  background-color: rgb(76, 175, 80);
}
.notification-select button.no {
  background-color: rgb(211, 47, 47);
}

@media (max-width: 991.98px) {
  .header-main-page h1 {
    font-size: 26pt;
  }
  .header-main-page h3 {
    font-size: 13pt;
  }

  .notification-select {
    height: auto;
    flex-wrap: wrap;
  }
  .notification-select p {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  .notification-select button {
    height: 30px;
    width: 20%;
    margin-bottom: 1vh;
  }
}
.banner-login {
  width: 100%;
  background-color: #D17262;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5vw;
}
.banner-login p {
  color: #fff;
}
.banner-login .button-container {
  width: 20vw;
  display: flex;
  justify-content: space-around;
}
.banner-login .button-container button {
  font-size: 12pt;
  font-weight: bold;
  color: #ffffff;
  height: 6vh;
  cursor: pointer;
}
.banner-login .button-container .register {
  border: solid 1px #ffffff;
  border-radius: 24px;
}
.banner-login .button-container .login {
  background-color: rgba(0, 0, 0, 0.3411764706);
  border-radius: 24px;
}

.banner-login.blank {
  opacity: 0%;
}

@media (max-width: 918px) {
  .banner-login {
    justify-content: initial;
    height: auto;
    padding: 2vh 2vw;
  }
  .banner-login p {
    width: 33.3%;
  }
  .banner-login .button-container {
    width: 66.6%;
    justify-content: space-around;
  }
  .banner-login .button-container button {
    width: 30%;
  }
}
@media (max-width: 576px) {
  .banner-login p {
    width: 50%;
  }
  .banner-login .button-container {
    width: 50%;
    flex-direction: column;
  }
  .banner-login .button-container button {
    width: 75%;
    margin: 10px;
  }
}/*# sourceMappingURL=header-styles.css.map */