.made-with-love {

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: auto;
  width: 100%;
  
  padding: 5vh 3vw;
  
  box-sizing: border-box;
  
  background-color: var(--main-background-color);
  color:rgb(185, 185, 185);
  
  a {
    color: #ff8787
  }
}