#about-this, #credits {
    height: 83vh;

    background-color: var(--second-background-color);
    color: var(--second-text-color);

    padding: 0px 3vw;
    padding-top: 5vh;
    padding-bottom: 5vh;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .titles {
        
        display: flex;

        h3 {
            width: 50%;

            font-size: 22pt;

            .line-through {
                text-decoration: line-through;
                text-decoration-thickness: 3px; 
            }
        }
    }

    .information {

        display: flex;

        ul {
            width: 50%;

            li {

                margin-top: 3vh;

                h4 {
                    font-size: 18pt;
                }

                p {
                    font-size: 13pt;
                    margin-left: 2vw;
                    margin-top: 1vh;
                }
            }
        }
    }
}

#credits {
    height: 95vh;
}

@media (max-width: 918px) {
    #about-this, #credits {
        height: auto;

        padding-bottom: 5vh;
    }
}