.theme-switch {

    display: flex;
    
    #theme-switch_toogle-switch {
        width: 0;
        height: 0;
        visibility: hidden;
    }
    
    label {
        display: block;
        width: 4vw;
        min-width: 80px;
        height: 4vh;
        background-color: var(--lightest-color);
        border-radius: 100px;
        position: relative;
        cursor: pointer;
        transition: 0.5s;
        box-shadow: 0 0 20px #477a8550;
    }

    label:hover {
        filter: brightness(90%);
        transition: none;
    }
    
    label:active {
        filter: brightness(105%);
        transition: none;
    }

    label::after {
        content: "";
        width: 3.5vh;
        height: 3.5vh;
        background-color: #b632eb;
        position: absolute;
        border-radius: 100%;
        top: 0.25vh;
        left: 0.25vh;
        transition: 0.5s;
    }

    input:checked + label:after {
        left: calc(100% - 0.25vh);
        transform: translateX(-100%);

        background-color: var(--second-text-color);
    }

    input:checked + label{
        background-color: #b632eb;
    }
}

@media (max-width: 991.98px) {
    
    .dark-mode {
        position: initial;
        label {
            width: 50px;
            height: 20px;
        }
    
        label::after {
            width: 15px;
            height: 15px;
        }
    }
}

@media (max-width: 576px) {
    .dark-mode {
        label {
            width: 50px;
            height: 20px;
        }
    
        label::after {
            width: 15px;
            height: 15px;
        }

        margin-bottom: 20px;
    }
}